body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

/* NAVBAR */
.navbar {
  height: 60px;
  background: #111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  color: #3b82f6;
  font-weight: bold;
}

/* LAYOUT */
.container {
  display: flex;
  height: calc(100vh - 60px);
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #111827;
  padding: 10px;
}

.sidebar div {
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar div:hover {
  background: #1f2937;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 20px;
}

/* INPUT */
input {
  padding: 8px;
  border-radius: 6px;
  border: none;
  margin: 5px;
}

/* BUTTON */
button {
  padding: 8px 10px;
  border-radius: 6px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

/* LIST */
ul {
  margin-top: 10px;
}
